@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}
header {
   display: flex;
   margin: 25px;
   justify-content: space-between;
   align-items: center;
}
.redesSocialeslink {
   text-decoration: none;
   color: #6b2dbd;
   font-size: 16px;
   margin: 10px;
}
.redesSocialeslink:hover {
   text-decoration: underline;
}
.titulo {
   color: #6b2dbd;
}

.container{
   margin-top: 50px;
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
   grid-gap: 30px;
}
.containerItem {
   width: 300px;
   min-height: 110px;
   display: flex;
   margin: 0 auto;
   padding: 10px;
   border-radius: 10px;
}
.containerItem:hover{
   background-color: #a478df;
}

.item__image {
   width: 100px;
   border-radius: 50%;
}
.item__title{
   font-size: 20px;
}
.item__Details{
   margin-left: 10px;
}
@media (max-width: 630px) {
   .redesSocialeslink {
   display: block;
}
}